@import 'src/assets/styles/main.module';

.wrapper {
  width: 26rem;
  height: 25rem;
  margin: 1rem;
  // border: solid $grey200;
  border-radius: 3rem;
  // box-shadow: 10px 10px 25px $grey200;

  img {
    width: 22rem;
    height: 11rem;
    border-radius: 2.7rem 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 3rem 3rem 1rem;
  }
}