@import 'src/assets/styles/main.module';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 3rem;
  //box-shadow: 0px 10px 30px $grey200;

  &LogoDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.social-icons {
  margin: 2rem;
}