.logo {
  display: block;
  width: 250px;
  height: 70px;
  background-image: url('../../../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &Big {
    width: 235px;
    height: 148px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
