@import 'src/assets/styles/main.module';

.wrapper {
  border: solid 2px $mainDarkBlue;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  color: $mainDarkBlue;
  outline: none;
  background-color: $white;
  text-decoration: none;

  .icon {
    padding-top: 0.3rem;
  }

  .text {
  }
}

.active {
  background-color: $mainLightBlue;
}

