@import 'src/assets/styles/main.module';

%link {
  color: $mainDarkBlue;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  padding: 1rem;
}

.xs {
  @extend %link;
  font-size: 1.2rem;
  font-weight: $light;
}

.s {
  @extend %link;
  font-size: 1.4rem;
  font-weight: $regular;
}

.m {
  @extend %link;
  font-size: 1.6rem;
  font-weight: $semi-bold;
}

.l {
  @extend %link;
  font-size: 1.8rem;
  font-weight: $bold;
}