@import 'src/assets/styles/main.module';

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $white;
  z-index: 999999;
  box-shadow: 0 5px 30px $grey200;

  .span {
    border-top: solid $grey200 2px;
    height: 2px;
  }
}

.adsWrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
}