// Colors
$mainDarkBlue: hsl(212, 24%, 39%); // #4c627b
$mainLightBlue: hsl(183, 100%, 40%); // #00c2cc
$grey100: hsl(0, 0%, 96%); // 	#f5f5f5
$grey200: hsl(0, 0%, 90%); // #e6e6e6
$grey300: hsl(0, 0%, 51%); // #828282
$grey400: hsl(0, 0%, 26%);
$black: hsl(0, 0%, 0%);
$white: hsl(255, 100%, 100%);
